@model IEnumerable<CloudNineAssignment.Models.ViewModels.AlbumViewModel>

<h2>Albums Catalog</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Release Date
            </th>
            <th>
                Number of Tracks
            </th>
            <th>
                Artists
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTracks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artists)
                </td>
            </tr>
        }
    </tbody>
</table>